@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Top Ten F1 drivers</h1>
    <p>Go to drivers <a href="https://localhost:4001/driver/all">go to</a>.</p>
</div>
